<% provide(:title, 'Signup') %>
<div class="row">

  <%= form_for(@user, url: signup_path) do |f| %>
    <%= render 'users/error_messages' %>


    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </p>

    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </p>

    <p>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
    </p>

    <%= f.submit class: "btn btn-primary" %>

    <% end %>
      if you have an account <%= link_to "login", login_path %>
    </div>
</div>
