<% provide(:title, 'user name') %>

<h1><%= @user.name %></h1>
<p><%= link_to 'edit', edit_user_path %></p>
<h2><%= @user.email %></h2>
<h3><%= link_to "index", posts_path %></h3>
<h3>USERS</h3>

<% @users.each do |user| %><br>
  <%= user.name %>
<% end %>

  <p>
    <%= link_to 'logout',
        logout_path,
        method: :delete,
        data: { confirm:'Are you sure?' } %>
  </p>
