<% provide(:title, 'user name') %>
<h1><%= @user.name %></h1>
  <p><%= @user.email %></p>
  <p><%= link_to "index", root_path %></p>

  <h2>
  <%= link_to "ALL USERS", users_index_path %>
  </h2>
  <p>
    <%= link_to 'logout',
        login_path,
        method: :delete,
        data:{ confirm: 'sure?'} %>
  </p>

  <p>
    <%= link_to 'edit', edit_user_path %>
  </p>
