<% provide(:title, "Show") %>
<p>投稿No.    <%= @post.id %></p>
<p>投稿時間   <%= @post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
<h3>タイトル    <%= @post.title %></h3>
<h3>本文   <%= simple_format @post.body %></h3>


<p>
  <h3>Picture</h3>
  <%= image_tag(@post.picture_url) if @post.picture.present? %>
</p>
 
<h3>comment</h3>
<% if @post.comments.any? %>
<ul>
  <% @post.comments.each do |comment| %>
  <li>
    <%= comment.body %>
    <%= link_to '[delete]',
        post_comment_path(@post, comment),
        method: :delete,
        data:{ confirm: 'sure?' } %>
  </li>
  <% end %>
</ul>
<% end %>

<%= form_for ([@post, @post.comments.build]) do |f| %>
<p>
  <%= f.text_field :body %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
